click
sqlalchemy
bio2bel>=0.1.5
compath_utils>=0.1.0
bio2bel_hgnc>=0.1.0
wtforms
flask_wtf
flask
flask-bootstrap
flask_admin
flask_security
flask_sqlalchemy
networkx
pandas
scipy
tqdm
numpy
statsmodels
xlrd
