click
sqlalchemy==1.1.15
bio2bel>=0.0.7
compath_utils>=0.0.2
compath_hgnc
bio2bel_kegg>=0.0.4
bio2bel_reactome>=0.0.3
bio2bel_wikipathways>=0.0.3
bio2bel_msig>=0.0.1
pandas
flask
flask-bootstrap
flask_admin
wtforms
flask_wtf
flask_security
flask_sqlalchemy
scipy
statsmodels
