{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Pathway View{% endblock %}
{% block styles %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% include "dependencies/common.html" %}
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 50px">
        {{ util.flashed_messages(dismissible=True, container=False) }}

        <div class="panel panel-default">
            <div class="panel-heading">{{ pathway.name }} Overview</div>
            <div class="panel-body">

                <table id="pathway-info" class="table table-bordered table-striped table-hover">
                    <tbody>
                    <tr>
                        <td>Name
                        </td>
                        <td>
                            <a href="{{ pathway.url }}">{{ pathway }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Resource
                        </td>
                        <td>
                            {{ resource|upper }}
                        </td>
                    </tr>
                    <tr>
                        <td>Genes in Pathway
                        </td>
                        <td>
                            {% for hgnc_symbol in pathway.get_gene_set() %}
                                <a href="https://www.ncbi.nlm.nih.gov/gene/?term={{ hgnc_symbol }}">{{ hgnc_symbol }}</a>
                                {{ "," if not loop.last }}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>Statistics
                        </td>
                        <td>How many up and down votes it h as...
                        </td>
                    </tr>
                    <tr>
                        <td>Pathways Mapped
                        </td>
                        <td>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
{% endblock %}
