{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}About{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        var maxHeight = 0;
        $(".panel-body").find(".row").find(".col-sm-6").find(".thumbnail").each(function (idx, item) {
            var height = $(item).height();
            maxHeight = maxHeight > height ? maxHeight : height;
        });
        $(".panel-body").find(".row").find(".col-sm-6").find(".thumbnail").height(maxHeight);
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        {{ util.flashed_messages(dismissible=True, container=False) }}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Links and Cards</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Resources</h3>
                            <p>
                                Resources from <a href="https://reactome.org/">Reactome</a>, <a
                                    href="https://www.wikipathways.org/">WikiPathways</a>,
                                and <a href="http://www.kegg.jp/">KEGG</a> have been used to build this package and
                                application.


                            </p>
                            <b>Reactome References:</b>
                            <ul>
                                <li>Fabregat, Antonio et al. “The Reactome Pathway Knowledgebase.” Nucleic Acids
                                    Research 44.Database issue (2016): D481–D487. PMC. Web. 6 Oct. 2017.
                                </li>
                                <li>Croft, David et al. “The Reactome Pathway Knowledgebase.” Nucleic Acids Research
                                    42.Database issue (2014): D472–D477. PMC. Web. 6 Oct. 2017.
                                </li>
                            </ul>
                            <b>WikiPathways References:</b>
                            <ul>
                                <li>Slenter DN, Kutmon M, Hanspers K, Riutta A, Windsor J, Nunes N, Mélius J, Cirillo E,
                                    Coort SL, Digles D, Ehrhart F, Giesbertz P, Kalafati M, Martens M, Miller R, Nishida
                                    K,
                                    Rieswijk L, Waagmeester A, Eijssen LMT, Evelo CT, Pico AR, Willighagen EL.
                                    WikiPathways:
                                    a multifaceted pathway database bridging metabolomics to other omics research
                                    Nucleic
                                    Acids Research, (2017)doi.org/10.1093/nar/gkx1064
                                </li>
                                <li>Kutmon M, Riutta A, Nunes N, Hanspers K, Willighagen EL, Bohler A, Mélius J,
                                    Waagmeester
                                    A, Sinha SR, Miller R, Coort SL, Cirillo E, Smeets B, Evelo CT, Pico AR.
                                    WikiPathways:
                                    capturing the full diversity of pathway knowledge Nucl. Acids Res., 44, D488-D494
                                    (2016)
                                    doi:10.1093/nar/gkv1024
                                </li>
                                <li>Kelder T, van Iersel MP, Hanspers K, Kutmon M, Conklin BR, Evelo C, Pico AR.
                                    WikiPathways: building research communities on biological pathways. Nucleic Acids
                                    Res.
                                    2012 Jan;40(Database issue):D1301-7
                                </li>
                            </ul>
                            <b>KEGG References:</b>
                            <ul>
                                <li>Kanehisa, Furumichi, M., Tanabe, M., Sato, Y., and Morishima, K.; KEGG: new
                                    perspectives
                                    on genomes, pathways, diseases and drugs. Nucleic Acids Res. 45, D353-D361
                                    (2017).
                                </li>
                                <li>Kanehisa, M., Sato, Y., Kawashima, M., Furumichi, M., and Tanabe, M.; KEGG as a
                                    reference resource for gene and protein annotation. Nucleic Acids Res. 44,
                                    D457-D462
                                    (2016).
                                </li>
                                <li> Kanehisa, M. and Goto, S.; KEGG: Kyoto Encyclopedia of Genes and Genomes.
                                    Nucleic Acids
                                    Res. 28, 27-30 (2000).
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Legal</h3>
                            <p>
                                ComPath is hosted in Germany, and has an imprint dictating disclaimers, etc.
                            </p>
                            <p>
                                <a href="{{ url_for('ui.imprint') }}" class="btn btn-primary">Imprint</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Artwork</h3>
                            <p>
                                The Bio2BEL logos are derivatives of <a
                                    href="http://game-icons.net/lorc/originals/ringing-bell.html">Ringing bell</a>
                                by <a href="https://lorcblog.blogspot.com/">Lorc</a>, used under <a
                                    href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>. The PyBEL
                                logos are licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY
                                3.0</a> by <a href="https://github.com/scolby33">Scott Colby</a>.</p>
                            <p>
                                <a href="https://github.com/pybel/pybel-art#usage-guidelines-and-information"
                                   class="btn btn-primary">
                                    Usage Guidelines
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Dependencies</h3>
            </div>
            <div class="panel-body">

                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Python</h3>
                            <ul>
                                <li><a href="http://flask.pocoo.org/">Flask</a></li>
                                <li><a href="http://click.pocoo.org/">Click</a></li>
                                <li><a href="http://pandas.pydata.org/">Pandas</a></li>
                                <li><a href="https://www.sqlalchemy.org/">SQLAlchemy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Client</h3>
                            <ul>
                                <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
                                <li><a href="https://jquery.com/">jQuery</a></li>
                                <li><a href="https://datatables.net/">DataTables</a></li>
                                <li><a href="https://d3js.org/">D3.js</a></li>
                                <li><a href="https://github.com/benfred/venn.js">Venn.js</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
