<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">About</h3>
        </div>
        <div class="panel-body">
            <p>ComPathTool is developed and maintained by the <a href="https://github.com/bio2bel">Bio2BEL</a> Team at
                <a href="https://www.scai.fraunhofer.de/en/business-research-areas/bioinformatics.html">Fraunhofer
                    SCAI</a> with support from the <a href="https://www.imi.europa.eu/">IMI</a> project <a
                        href="http://www.aetionomy.eu/">AETIONOMY</a>.

                It is built on top of the open source project, <a href="https://github.com/bio2bel">Bio2BEL</a>.
                This tools relies in the data exported from <a href="https://reactome.org/download-data">Reactome</a>
                and <a href="http://www.kegg.jp/kegg/rest/">KEGG</a> Restful APIs. More information <a
                        href="{{ url_for('ui.about') }}">here</a>.
            </p>
            <hr/>
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lg-1 col-xs-1"></div>

                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3">
                    <a href="https://www.scai.fraunhofer.de/en/business-research-areas/bioinformatics.html">
                        <img class="img-responsive"
                             src="{{ url_for('static', filename='img/scai_logo.svg') }}"/>
                    </a>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3">
                    <a href="https://www.imi.europa.eu/">
                        <img class="img-responsive"
                             src="{{ url_for('static', filename='img/imi_logo.png') }}"/>
                    </a>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3">
                    <a href="http://www.aetionomy.eu/">
                        <img class="img-responsive"
                             src="{{ url_for('static', filename='img/aetionomy_logo.png') }}"/>
                    </a>
                </div>

                <div class="col-sm-1 col-md-1 col-lg-1 col-xs-1"></div>

            </div>
        </div>
    </div>
</div>