{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}ComPathTool{% endblock %}xz

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        var maxHeight = 0;
        $(".panel-body").find(".row").find(".col-sm-6").find(".thumbnail").each(function (idx, item) {
            var height = $(item).height();
            maxHeight = maxHeight > height ? maxHeight : height;
        });
        $(".panel-body").find(".row").find(".col-sm-6").find(".thumbnail").height(maxHeight);
    </script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 50px">
        {{ util.flashed_messages(dismissible=True, container=False) }}

        <div class="jumbotron">
            <h1>Bio2BEL - ComPathTool (Comparative Pathways Tool)</h1>
            <p>A pathway analysis platform to query, compare and investigate across different pathway resources in the
                Bio2BEL world.
            </p>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">

                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail home-link">
                            <div class="caption">
                                <h3>Build Geneset Query</h3>
                                <p>Build a gene set query using the loaded resources.</p>
                                <p>
                                    <a href="" class="btn btn-primary btn-block">
                                        Query
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail home-link">
                            <div class="caption">
                                <h3>...</h3>
                                <p>
                                    blabla
                                </p>
                                <p>
                                    <a href="" class="btn btn-primary btn-block">
                                        ...
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <div class="caption home-link">
                                <h3>Export Genesets</h3>
                                <p>
                                    Export gene sets coming from Reactome/KEGG to excel sheets for programmatic use.
                                </p>
                                <p>
                                    <a href="{{ url_for('ui.export_genesets') }}" class="btn btn-primary btn-block">
                                        Export Reactome
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "footer.html" %}
{% endblock %}
