<nav class="navbar navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed"
                    data-target="#485848c5cd0b7dabdf24f858e4f3abbf21fdb984" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('ui.home') }}">
                <img alt="ComPath" src="{{ url_for('static', filename='img/compath-logo-100px.png') }}"></a>
        </div>
        <div class="navbar-collapse collapse" id="485848c5cd0b7dabdf24f858e4f3abbf21fdb984">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle nav-header" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">SCAI Resources <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-header"
                               href="http://belief.scai.fraunhofer.de/BeliefDashboard">BELIEF</a></li>
                        <li><a class="nav-header" href="https://neurommsig.scai.fraunhofer.de/">NeuroMMSig</a></li>
                        <li><a class="nav-header" href="http://ptsd.scai.fraunhofer.de/">PTSDDB</a>
                        </li>
                        <li><a class="nav-header" href="https://bel-commons.scai.fraunhofer.de/">BEL Commons</a>
                        </li>
                        <li>
                            <a class="nav-header" href="http://academia.scaiview.com/academia/">SCAIView</a>
                        </li>
                        <li>
                            <a class="nav-header" href="http://epad.scai.fraunhofer.de/">Study Viewer</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle nav-header" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Getting Started <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="nav-header" href="{{ url_for('ui.about') }}">About ComPath</a>
                        </li>
                        <li>
                            <a class="nav-header" href="{{ url_for('ui.curation_protocol') }}">Curation Protocol</a>
                        </li>
                        <li>
                            <a class="nav-header" href="{{ url_for('ui.terms_and_conditions') }}">Terms and
                                Conditions</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="nav-header" href="{{ url_for('ui.imprint') }}">Imprint</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right no-collapse">
                {% if current_user.is_authenticated %}
                    <li class="dropdown">
                        <a class="dropdown-toggle nav-header" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">{{ current_user.email }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if current_user.is_admin %}
                                <li><a class="nav-header" href="{{ url_for('admin.index') }}">Admin</a></li>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                                <li><a class="nav-header" href="{{ url_for('ui.user_activity') }}">My Activity</a></li>
                            {% endif %}
                            <li><a href="{{ url_for('security.logout') }}">Log Out</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ url_for('security.login') }}">Log In</a></li>
                {% endif %}
                <li>
                    <a id="nav-scai-logo"
                       href="https://www.scai.fraunhofer.de/en/business-research-areas/bioinformatics.html">
                        <img alt="Fraunhofer SCAI"
                             src="{{ url_for('static', filename='img/scai_logo.svg') }}">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
