{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}ComPath Overview{% endblock %}


{% block styles %}
    {{ super() }}

    <style>
        /* VennDiagram CSS */

        svg path {
            stroke: white;
            stroke-width: 2px;
        }

        #coverage-venn-diagram svg text {
            fill: white;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px !important;
        }

        .venntooltip {
            position: absolute;
            text-align: center;
            width: 128px;
            height: 25px;
            background: #333;
            color: #ddd;
            padding: 2px;
            border: 0px;
            border-radius: 8px;
            opacity: 0;
        }
    </style>

{% endblock %}

{% block scripts %}
    {{ super() }}
    {% include "dependencies/common.html" %}

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript"
            src="https://benfred.github.io/venn.js/venn.js"></script>
    <script>

        var data = {{ managers_overlap|safe }};

        var coverageVenn = d3.select("#coverage-venn-diagram");

        coverageVenn.attr("align", "center"); // Align center the diagram

        var ignorome = venn.VennDiagram(); // Plot the Venn Diagram
        coverageVenn.datum(data).call(ignorome); // Stick data

        // add a tooltip
        var tooltip = d3.select("body").append("div")
            .attr("class", "venntooltip");

        // add listeners to all the groups to display tooltip on mouseover
        coverageVenn.selectAll("g")
            .on("mouseover", function (d, i) {
                // sort all the areas relative to the current item
                venn.sortAreas(coverageVenn, d);

                // Display a tooltip with the current size
                tooltip.transition().duration(400).style("opacity", .9);
                tooltip.text(d.size + " genes");

                // highlight the current path
                var selection = d3.select(this).transition("tooltip").duration(400);
                selection.select("path")
                    .style("stroke-width", 3)
                    .style("fill-opacity", d.sets.length == 1 ? .4 : .1)
                    .style("stroke-opacity", 1);
            })

            .on("mousemove", function () {
                tooltip.style("left", (d3.event.pageX) + "px")
                    .style("top", (d3.event.pageY - 28) + "px");
            })

            .on("mouseout", function (d, i) {
                tooltip.transition().duration(400).style("opacity", 0);
                var selection = d3.select(this).transition("tooltip").duration(400);
                selection.select("path")
                    .style("stroke-width", 0)
                    .style("fill-opacity", d.sets.length == 1 ? .25 : .0)
                    .style("stroke-opacity", 0);
            });

    </script>
{% endblock %}

{% block content %}
    <div class="container">
        {{ util.flashed_messages(dismissible=True, container=False) }}

        <div class="panel panel-default">
            <div class="panel-heading">ComPath Overview</div>
            <div class="panel-body">
                <p>Summary of the pathway databases loaded in ComPath and their content</p>

                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="first-row">Resource</th>
                        <th class="first-row">Number of Pathways</th>
                        <th class="first-row">Number of Genes</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for resource, (number_of_pathways, number_of_genes) in resource_overview.items() %}
                        <tr>
                            <td> {{ resource|upper }}</td>
                            <td>{{ number_of_pathways }}</td>
                            <td>{{ number_of_genes }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>

                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Pathway Knowledge Coverage and Ignorome</div>
            <div class="panel-body">
                <p>This Venn diagram plots the genetic coverage over all HGNC symbols known for all databases.</p>
                <div id="coverage-venn-diagram">
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Distribution Overview</div>
            <div class="panel-body">
                <p>
                    Analyze the distribution of the pathway in each database or gene promiscuity. In other words, what
                    are the biggest and smalles pathways and which genes appear in more or less in each database
                    (promiscuity). This analysis might help you to interpret the results of enrichment analyses as well
                    as analyze the boundaries of databases.
                </p>
                <p>
                    <a href="{{ url_for('analysis.pathway_distribution') }}"
                       class="btn btn-primary">
                        Pathway Distribution
                    </a>
                    <a href="{{ url_for('analysis.gene_distribution') }}"
                       class="btn btn-primary">
                        Gene Promiscuity
                    </a>
                </p>

            </div>
        </div>
    </div>
    {% include "footer.html" %}
{% endblock %}
