{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Gene Promiscuity{% endblock %}


{% block styles %}
    {{ super() }}


    <style>

        /* Histogram CSS */

        .bar rect {
            fill: steelblue;
        }

        .bar text {
            fill: #fff;
            font: 10px sans-serif;
        }

        .bar:hover {
            fill: brown;
        }

        .toolTip {
            position: absolute;
            display: none;
            min-width: 80px;
            height: auto;
            background: none repeat scroll 0 0 #ffffff;
            border: 1px solid #6F257F;
            padding: 14px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% include "dependencies/common.html" %}
    {% include "dependencies/datatables.html" %}

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>

    <script>

        $(document).ready(function () {

            {% for manager, distribution_data in gene_distribution_dict.items() %}

                $("#{{ manager|safe }}" + "-table").DataTable(
                    {
                        dom: "<'row'<'col-sm-2'l><'col-sm-3'f><'col-sm-5'B>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        buttons: [
                            'copy', 'csv', 'excel', 'pdf', 'print'
                        ]
                    }
                );

                var data = {{ distribution_data|safe }};

                /* Plot Histogram */

                var histogramData = [];
                $.each(data, function (key, value) {
                    histogramData.push(value)
                });

                var formatCount = d3.format(",.0f");

                var svg = d3.select("#{{ manager|safe }}" + "-histogram"),
                    margin = {
                        top: 10,
                        right: 30,
                        bottom: 30,
                        left: 30
                    },
                    width = +svg.attr("width") - margin.left - margin.right,
                    height = +svg.attr("height") - margin.top - margin.bottom,
                    g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                var tooltip = d3.select("body").append("div").attr("class", "toolTip");

                var x = d3.scaleLinear()
                    .domain(d3.extent(histogramData))
                    .rangeRound([0, width]);

                var histogram = d3.histogram()
                    .domain(x.domain())
                    .thresholds(x.ticks(40));

                var bins = histogram(histogramData);

                var y = d3.scaleLinear()
                    .domain([0, d3.max(bins, function (d) {
                        return d.length;
                    })])
                    .range([height, 0]);

                var bar = g.selectAll(".bar")
                    .data(bins)
                    .enter().append("g")
                    .attr("class", "bar")
                    .attr("transform", function (d) {
                        return "translate(" + x(d.x0) + "," + y(d.length) + ")";
                    })
                    .on("mousemove", function (d) {
                        tooltip
                            .style("left", d3.event.pageX - 50 + "px")
                            .style("top", d3.event.pageY - 70 + "px")
                            .style("display", "inline-block")
                            .html((d.length) + "<br>" + "Pathways");
                    })
                    .on("mouseout", function (d) {
                        tooltip.style("display", "none");
                    });

                bar.append("rect")
                    .attr("x", 1)
                    .attr("width", x(bins[0].x1) - x(bins[0].x0) - 1)
                    .attr("height", function (d) {
                        return height - y(d.length);
                    });

                bar.append("text")
                    .attr("dy", ".75em")
                    .attr("y", 6)
                    .attr("x", (x(bins[0].x1) - x(bins[0].x0)) / 2)
                    .attr("text-anchor", "middle")
                    .text(function (d) {
                        return formatCount(d.length);
                    });

                g.append("g")
                    .attr("class", "axis axis--x")
                    .attr("transform", "translate(0," + height + ")")
                    .call(d3.axisBottom(x));

            {% endfor %}
        });
    </script>


{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 50px">
        {{ util.flashed_messages(dismissible=True, container=False) }}

        <div class="panel panel-default">
            <div class="panel-heading">ComPath Overview</div>
            <div class="panel-body">
                <p>Table summarizing the data sources and their content</p>

                <p>Resource | Number of Pathways | Number of Genes</p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Overlap of Database Coverage</div>
            <div class="panel-body">
                <p>Venn Diagram</p>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Distribution Overview</div>
            <div class="panel-body">
                <p>
                    Analyze the pathway size or gene promiscuity.
                </p>
                <p>
                    <a href="{{ url_for('analysis.pathway_distribution') }}"
                       class="btn btn-primary">
                        Pathway Distribution
                    </a>
                    <a href="{{ url_for('analysis.gene_distribution') }}"
                       class="btn btn-primary">
                        Gene Promiscuity
                    </a>

                </p>

            </div>
        </div>
    </div>
    {% include "footer.html" %}
{% endblock %}
