{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}ComPath{% endblock %}

{% block scripts %}
    {{ super() }}

    <script type="text/javascript"
            src="{{ url_for('static', filename='js/overview_controller.js', version='20180501') }}"></script>

{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 50px">
        {{ util.flashed_messages(dismissible=True, container=False) }}

        <div class="panel panel-default">
            <div class="panel-heading">Visualize Gene Set Overlap across Pathways</div>
            <div class="panel-body">
                <form id="render-venn-diagram">
                    <p>Select the pathway of interest to plot a Venn diagram to visualize their gene set overlap.</p>
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <input type="text" name="kegg" placeholder="Select the KEGG pathway to compare"
                                   class="form-control"/>
                        </div>
                        <div class="col-sm-4 text-center">
                            <input type="text" name="reactome" placeholder="Select the Reactome pathway to compare"
                                   class="form-control"/>
                        </div>
                        <div class="col-sm-4 text-center">
                            <input type="text" name="wikipathways"
                                   placeholder="Select the WikiPathways pathway to compare"
                                   class="form-control"/>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Render Plot</button>
                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Pathway overview</div>
            <div class="panel-body">
                <p></p>

            </div>
        </div>
    </div>
    {% include "footer.html" %}
{% endblock %}
