{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}ComPath{% endblock %}xz

{% block scripts %}
    {{ super() }}


{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 50px">
        {{ util.flashed_messages(dismissible=True, container=False) }}

    <div class="panel panel-default">
            <div class="panel-body">
               Here there should be statistics about the web server
            </div>
        </div>
    </div>
    {% include "footer.html" %}
{% endblock %}
