{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Similarity Network{% endblock %}


{% block styles %}
    {{ super() }}

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/4.10.3/css/bootstrap-slider.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.css" rel="stylesheet" type="text/css">

    <style>

        #network {
            display: block;
            height: 584px;
            border: 1px solid black;
            padding-right: 0px !important;;
            padding-left: 0px !important;
        }

        .param {
            margin-bottom: 1em;
        }

        .preamble {
            margin-bottom: 2em;
        }

        .full-width {
            width: 100%;
        }

        .not-rounded {
            border-radius: 0 !important;
        }

        .width-50 {
            width: 50%;
        }

        .not-rounded2 {
            border-radius: 0 !important;
        }

        p {
            margin: 0.5em 0;
            font-size: 0.8em;
        }

        .param button {
            width: 3em;
            margin-right: 0.25em;
        }

        .slider {
            display: block;
        }

    </style>
{% endblock %}

{% block scripts %}
    {{ super() }}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/4.10.3/bootstrap-slider.min.js"></script>
    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-cola/1.6.0/cola.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.9/cytoscape.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.js"></script>
    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-qtip/2.7.0/cytoscape-qtip.js"></script>
    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-cola/1.6.0/cytoscape-cola.js"></script>

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script type="text/javascript" src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>



    <script>

        var colours_resource = { // Object resource name -> colour
            reactome: "blue",
            kegg: "red",
            wikipathways: "green"
        };


        function getProperty(o, prop) {
            if (o[prop] !== undefined) return o[prop];
            else return "grey";
        }

        /**
         * Returns the url of the json file needed to render cytsocape js visualization
         * @returns {str} url
         */
        function getJsonPath() {

            var resource = $("#resource-input").val();

            // Define the path of the json file according to the selection
            var path;
            if (resource === "all-resources") { // All resources vs all resources
                path = "static/json/wikipathways/wikipathways_90.json"
            }
            else {  // resource + range
                path = "static/json/" + resource + "/" + resource + "_" + $("#similarity-range").val() + ".json"
            }

            return path
        }

        function startCy(urlPath) {
            $.getJSON(urlPath, function (data) {

                    // TODO: Define Max zoom, add names and urls, link width defined by similarity
                    //TODO: Fix sliders, they are not working properly like in the example. I bet the same value is being passed all over again


                    var cy = window.cy = cytoscape({
                        container: document.getElementById('network'),
                        elements: data,
                        style: cytoscape.stylesheet()
                            .selector('node')

                            // Set colour in function of the resource.
                            .style({
                                'background-color': function (e) {
                                    console.log(colours_resource[e.data('resource')]);
                                    return (getProperty(colours_resource, e.data('resource')))
                                }
                            })

                    });

                    var params = {
                        name: 'cola',
                        nodeSpacing: 30,
                        edgeLengthVal: 45,
                        animate: true,
                        randomize: false,
                        maxSimulationTime: 1500
                    };
                    var layout = makeLayout();
                    var running = false;

                    cy.on('layoutstart', function () {
                        running = true;
                    }).on('layoutstop', function () {
                        running = false;
                    });

                    layout.run();

                    var $config = $('#config');
                    var $btnParam = $('<div class="param"></div>');
                    $config.append($btnParam);

                    var sliders = [
                        {
                            param: 'edgeLengthVal',
                            min: 1,
                            max: 200
                        },

                        {
                            param: 'nodeSpacing',
                            min: 1,
                            max: 50
                        }
                    ];

                    var buttons = [
                        {
                            label: '<i class="fa fa-random"></i>',
                            layoutOpts: {
                                randomize: true,
                                flow: null
                            }
                        },
                        {
                            label: '<i class="fa fa-long-arrow-down"></i>',
                            layoutOpts: {
                                flow: {axis: 'y', minSeparation: 30}
                            }
                        }
                    ];

                    makeSlider(sliders[0], 'edge-slider');
                    makeSlider(sliders[1], 'node-slider');

                    buttons.forEach(makeButton);

                    function makeLayout(opts) {
                        params.randomize = false;
                        params.edgeLength = function (e) {
                            return params.edgeLengthVal / e.data('weight');
                        };

                        for (var i in opts) {
                            params[i] = opts[i];
                        }

                        return cy.layout(params);
                    }

                    function makeSlider(opts, divId) {
                        var $input = $('<input style="width: 80%"></input>');
                        var $targetId = $('#' + divId);

                        // TODO: Center the sliders
                        $targetId.append('<span class="label label-default"></span>');
                        $targetId.append($input);

                        var p = $input.slider({
                            min: opts.min,
                            max: opts.max,
                            max: opts.max,
                            value: params[opts.param]
                        }).on('slide', _.throttle(function () {
                            params[opts.param] = p.getValue();

                            layout.stop();
                            layout = makeLayout();
                            layout.run();
                        }, 16)).data('slider');
                    }

                    function makeButton(opts) {
                        var $button = $('<button class="btn btn-default">' + opts.label + '</button>');

                        $btnParam.append($button);

                        $button.on('click', function () {
                            layout.stop();

                            if (opts.fn) {
                                opts.fn();
                            }

                            layout = makeLayout(opts.layoutOpts);
                            layout.run();
                        });
                    }

                    $('#config-toggle').on('click', function () {
                        $('body').toggleClass('config-closed');

                        cy.resize();
                    });


                }
            );

        }


        $(document).ready(function () {

            startCy(getJsonPath()); // Generate the default Network

            // When click on refresh network button.
            $('#refresh-network').click(function () {

                //Remove the parameter sliders.
                $('.param').remove();
                $('#edge-slider').empty();
                $('#node-slider').empty();
                startCy(getJsonPath()); // Generate new Network with new parameters.
            });

        });
    </script>


{% endblock %}

{% block content %}
    <div class="container">

        <div class="text-center">
            <h2>Pathway Similarity Network</h2>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-xs-8" id="network"></div>
            <div class="panel panel-default col-lg-4 col-md-4 col-xs-4"
                 style="max-height: 585px;height: 585px;padding-right: 0;padding-left: 0; margin-bottom:0">

                <ul class="nav nav-tabs nav-center-tabs">
                    <li class="active">
                        <a class="nav-link nav-padding-reduced" data-toggle="tab" href="#network-panel"><i
                                class="fa fa-filter" aria-hidden="true"></i> Modify Network</a>
                    </li>
                    <li>
                        <a class="nav-link nav-padding-reduced" data-toggle="tab" href="#nodes-panel"><i
                                class="fa fa-circle-o" aria-hidden="true"></i>
                            Nodes
                        </a>
                    </li>
                    <li>
                        <a class="nav-link nav-padding-reduced" data-toggle="tab" href="#edges-panel"><i
                                class="fa fa-long-arrow-right" aria-hidden="true"></i> Edges</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="network-panel" role="tabpanel">

                        <div class="preamble">
                            <p>
                                Explanation here
                            </p>
                        </div>
                        <div id="config" class="config">
                            <button type="button" id="refresh-network" class="btn btn-primary not-rounded full-width">
                                Refresh Network
                            </button>
                            <form class="form-inline">
                                <label for="resource-input">Resource</label>

                                <select type="text" class="form-control" id="resource-input">

                                    <option value="similarity_network" selected>All resources</option>
                                    {#                                # TODO change to automatic from resource query. (con lo que habia no salian las resources)#}

                                    <option value="reactome">Reactome</option>
                                    <option value="kegg">KEGG</option>
                                    <option value="wikipathways" selected>Wikipathways</option>
                                    <label for="similarity-range">Threshold</label>
                                </select>

                                <select type="text" class="form-control" id="similarity-range">

                                    <option>10</option>
                                    <option>20</option>
                                    <option>30</option>
                                    <option>40</option>
                                    <option>50</option>
                                    <option>60</option>
                                    <option>70</option>
                                    <option>80</option>
                                    <option selected>90</option>
                                    <option>100</option>
                                </select>
                            </form>


                            <div class="param">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane not-rounded" id="nodes-panel" role="tabpanel">
                        <p class="text-center" style="margin-top: 10px;"><b> Modify Node Spacing</b></p>
                        <div id="node-slider" style="margin-bottom: 10px; margin-top: 10px;
                         margin-left: 10%; margin-right: 10%;"></div>
                        <button class='btn btn-primary not-rounded full-width' id='get-checked-nodes'>Show
                            Selected Nodes
                        </button>
                        <div class="input-group">
                                <span class="input-group-addon not-rounded2" id="sizing-addon"><i
                                        class="fa fa-connectdevelop fa-0.5x"></i></span>
                            <input placeholder="Search nodes" id="node-search"
                                   class="wide form-control not-rounded"
                                   aria-describedby="sizing-addon1" type="text"/>
                        </div>
                        <div class="not-rounded2" id="node-list"
                             style="max-height: 450px;height: 450px; overflow:auto;"></div>
                    </div>
                    <div class="tab-pane not-rounded" id="edges-panel" role="tabpanel">
                        <p class="text-center" style="margin-top: 10px;"><b> Modify Links Length</b></p>
                        <div id="edge-slider" style="margin-bottom: 10px; margin-top: 10px;
                         margin-left: 10%; margin-right: 10%;"></div>
                        <button class='btn btn-primary not-rounded full-width' id='get-checked-edges'>Show
                            Selected Edges
                        </button>
                        <div class="input-group">
                                <span class="input-group-addon not-rounded2" id="sizing-addon"><i
                                        class="fa fa-connectdevelop fa-0.5x"></i></span>
                            <input placeholder="Search edges" id="edge-search"
                                   class="wide form-control not-rounded"
                                   aria-describedby="sizing-addon1" type="text"/>
                        </div>
                        <div id="edge-list" class="not-rounded2"
                             style="max-height: 390px;height: 390px; overflow:auto;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "footer.html" %}
{% endblock %}
