{% macro stylize_plugin_name(styled_names, prefix) -%}
    {{ styled_names.get(prefix, prefix) }}
{%- endmacro %}

{% macro write_label(prefix) -%}
    {% if prefix == 'kegg' %}
        label-success
    {% elif prefix == 'reactome' %}
        label-danger
    {% elif prefix == 'wikipathways' %}
        label-info
    {% elif prefix == 'msig' %}
        label-default
    {% else %}
        label-warning
    {% endif %}
{%- endmacro %}

{% macro translate_relation(mapping_type) -%}
    {% if mapping_type == 'equivalentTo' %}
        equivalent
    {% elif mapping_type == 'isPartOf' %}
        part of
    {% else %}
        -
    {% endif %}
{%- endmacro %}

{% macro write_pathways(pathways, title, styled_names) -%}
    {% if pathways|length > 0 %}
        <div class="panel panel-default">
            <div class="panel-heading">{{ title }}</div>
            <div class="panel-body">
                <ul class="pathways">
                    {% for prefix, identifier, name in pathways %}
                        <li class="pathways">
                            <span class="label {{ write_label(prefix) }}">
                                {{ stylize_plugin_name(styled_names, prefix) }}
                            </span>
                            &nbsp;
                            <a href="{{ url_for('model.pathway_view', prefix=prefix, identifier=identifier) }}">
                                {{ name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{%- endmacro %}