{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}RDF{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        var maxHeight = 0;
        $(".panel-body").find(".row").find(".col-sm-6").find(".thumbnail").each(function (idx, item) {
            var height = $(item).height();
            maxHeight = maxHeight > height ? maxHeight : height;
        });
        $(".panel-body").find(".row").find(".col-sm-6").find(".thumbnail").height(maxHeight);
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        {{ util.flashed_messages(dismissible=True, container=False) }}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">RDF Mappings</h3>
            </div>
            <div class="panel-body">
                <div id="equivalentTo">
                    <h3>equivalentTo.</h3>
                    <p> An undirected relationship denoting both pathways refer to the same biological process. The
                        requirements for this relationship are:
                    </p>
                    <ul>
                        <li>Scope: both pathways represent the same biological pathway information.</li>
                        <li>Similarity: both pathways must share at minimum of one overlapping gene.</li>
                        <li>Context: both pathways should take place in the same context (e.g., cell line,
                            physiology).
                        </li>
                    </ul>
                </div>
                <div id="isPartOf">
                    <h3>isPartOf.</h3>
                    <p>
                        A directed relationship denoting the hierarchical relationship between the pathway 1 (child) and
                        2 (parent). The requirements are:
                    </p>
                    <ul>
                        <li>Subset Scope: The subject (pathway 1) is a subset of pathway 2 (e.g., Reactome pathway
                            hierarchy).
                        </li>
                        <li>Similarity: same as above.</li>
                        <li>Context: same as above.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
