{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Terms and Conditions{% endblock %}


{% block content %}
    <div class="container">
        {{ util.flashed_messages(dismissible=True, container=False) }}

        <div class="page-header">
            <h1>Terms and Conditions</h1>
            <p>
                By using any <em>ComPath</em> services, you accept our <a
                    href="https://www.scaiview.com/en/terms-and-conditions.html">Terms and Conditions of Use</a>.
            </p>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">IMI Disclaimer</h3>
            </div>
            <div class="panel-body">
                <p>
                    This site reflects the author's view and neither IMI nor the European Union, EFPIA, or any
                    associated partners are responsible for any use that may be made of the information contained
                    therein.
                </p>
            </div>
        </div>
    </div>
    {% include "meta/footer.html" %}
{% endblock %}