/* CSS file specific for the legend and node info circles*/

body {
    font-family: helvetica, sans-serif;
    font-size: 14px;
}

h1 {
    opacity: 0.5;
    font-size: 1em;
}

.legend-dashed-line {
    border-top: 2px dashed #888;
    float: left;
}

span.after-hr {
    font-size: large;
}

.legend-continuous-line {
    border-top: 2px solid #888;
    float: left;
}

.circle {
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

div.kegg {
    width: 20px;
    height: 20px;
    background: #5cb85c;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
}

div.reactome {
    width: 20px;
    height: 20px;
    background: #d9534f;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
}

div.wikipathways {
    width: 20px;
    height: 20px;
    background: #5bc0de;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
}

div.msig {
    width: 20px;
    height: 20px;
    background: #777777;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
}