<div id="legend" class="modal fade"><!-- /.legend Modal -->
    <div class="modal-dialog modal-lg"><!-- /.Modal dialog -->
        <div class="modal-content"><!-- /.Modal content -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Legend</h4>
            </div>
            <div class="modal-body text-left"><!-- /.Modal body -->
                <h4 class="text-center">
                    Nodes
                </h4>
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th>Resource Name</th>
                        <th>Node Color</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="col-md-2">KEGG</td>
                        <td class="col-md-1">
                            <div class="kegg"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Reactome</td>
                        <td class="col-md-1">
                            <div class="reactome"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">WikiPathways</td>
                        <td class="col-md-1">
                            <div class="wikipathways"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">MSig</td>
                        <td class="col-md-1">
                            <div class="msig"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">NeuroMMSig AD</td>
                        <td class="col-md-1">
                            <div class="neurommsig_ad"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">NeuroMMSig PD</td>
                        <td class="col-md-1">
                            <div class="neurommsig_pd"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div><!-- /.Modal body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div><!-- /.Modal content -->
    </div><!-- /.Modal dialog -->
</div><!-- /.legend Modal -->
